.list-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.mybook-container {
    margin-bottom: 25px;
    .container-buttons{
        display: flex;
        justify-content: space-around;
    }

    button {
        width: 100px;
        margin: 5px;
    }

} 